
@using IMDB.Domain.Entities
@model IEnumerable<Actor>

@{
    ViewBag.Title = "List";
}

@foreach(var actor in Model)
{
<div>
    <h3>@actor.Name</h3>
    <div>--@actor.Sex</div>
    <div>@actor.Bio</div>
    <div>@actor.ID</div>
    <div>@actor.DOB</div>
</div>
}

